---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import CoDesign from '../components/CoDesign.astro';
import GetInvolved from '../components/GetInvolved.astro';
import Footer from '../components/Footer.astro';
import Partners from '../components/Partners.astro';
---
<Layout>
  <main id="main-content">
    <Hero />
    <About />
    <CoDesign />
    <GetInvolved />
    <Partners />
  </main>
  <Footer />
</Layout>
