---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import CoDesign from '../components/CoDesign.astro';
import GetInvolved from '../components/GetInvolved.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main id="main-content">
    <Hero />
    <About />
    <CoDesign />
    <GetInvolved />
    <Team />
  </main>
  <Footer />
</Layout>
